<?xml version="1.0" encoding="utf-8"?>

<!-- 
 * Copyright (C) 2014 Mikhail Sapozhnikov
 *
 * This file is part of scriba-android.
 *
 * scriba-android is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * scriba-android is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with scriba-android. If not, see <http://www.gnu.org/licenses/>.
 *
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.scribacrm.scriba"
      android:versionCode="100"
      android:versionName="0.1.0">
    <usesSdk android:minSdkVersion="11" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:label="@string/app_name"
                 android:icon="@drawable/scriba_icon"
                 android:theme="@style/scriba_theme">

        <activity android:name="EntryListActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable"/>
        </activity>

        <activity android:name="AddEntryActivity">
        </activity>

        <activity android:name="EntryDetailsActivity">
        </activity>

        <activity android:name="ReportActivity">
        </activity>

        <service android:name="SerializationService" />

        <receiver android:name=".EventAlarmReceiver"
                  android:enabled="true">
        </receiver>
    </application>
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:xlargeScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
</manifest>
